@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic);

body {
  font-family: Open Sans;
  font-style: normal;
  line-height: 1.3;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.2;
}
.mbr-text {
  font-style: normal;
  line-height: 1.3;
}
.mbr-normal {
  font-weight: 400;
}
.display-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.8rem;
}
.display-1 > .mbr-iconfont {
  font-size: 3.8rem;
}
.display-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.6rem;
}
.display-2 > .mbr-iconfont {
  font-size: 2.6rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
}
.display-4 > .mbr-iconfont {
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.125rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.125rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
}
.text-primary {
  color: #00a337 !important;
}
.text-secondary {
  color: #0a1c44 !important;
}
.text-success {
  color: #344cf1 !important;
}
.text-info {
  color: #48d678 !important;
}
.text-warning {
  color: #d63d3d !important;
}
.text-danger {
  color: #ececec !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #003d15 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #0c21b3 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #229649 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8f1e1e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b9b9b9 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #48d678;
}
.alert-warning {
  background-color: #d63d3d;
}
.alert-danger {
  background-color: #ececec;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #00a337;
  border-color: #00a337;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #00a337;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #23ff6e;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #f3f4fe;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #effbf3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fae5e5;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
#scrollToTop a i:before {
  content: "";
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: "";
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value="Rubik"] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: 0.357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em 0.5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.125rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #00a337;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: 0.4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: 0.9rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #00a337;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #00a337;
}
.btn-social + .btn {
  margin-left: 0.1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #00a337;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #00a337;
}
/* Headers*/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
  font-weight: 600;
}
.btn .mbr-iconfont-btn {
  -webkit-order: 1;
  order: 1;
  margin: 0 !important;
  padding-left: 0.8rem !important;
}
.popover-content .btn {
  box-shadow: none !important;
}
.btn-primary:hover {
  color: #00a337 !important;
  background: white !important;
  border-color: white !important;
}
.cid-r7hPv7gH49 .navbar {
  padding: 0.5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 50px;
}
.cid-r7hPv7gH49 .navbar-fixed-top {
  padding-top: 0;
}
.cid-r7hPv7gH49 .navbar-collapse {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-r7hPv7gH49 .menu-logo {
  margin: 0 auto !important;
}
.cid-r7hPv7gH49 .menu-logo .navbar-brand {
  display: -webkit-flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding 0.2s;
  min-height: 3.8rem;
  align-items: center;
  -webkit-align-items: center;
}
.cid-r7hPv7gH49 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: 0.3rem 0;
}
.cid-r7hPv7gH49 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-r7hPv7gH49 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-r7hPv7gH49 .menu-logo .navbar-brand .navbar-logo img {
  display: -webkit-flex;
}
.cid-r7hPv7gH49 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-r7hPv7gH49 .menu-content-top {
  background: #0a1c44;
  max-width: 100%;
  display: none;
  justify-content: left;
  padding: 0 2rem;
  margin: auto;
  align-items: center;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
  -webkit-justify-content: left;
  -webkit-align-items: center;
}
.cid-r7hPv7gH49 .dropdown-item {
  padding: 0;
}
.cid-r7hPv7gH49 .dropdown-item,
.cid-r7hPv7gH49 .nav-link,
.cid-r7hPv7gH49 .brand-name {
  font-style: normal;
}
.cid-r7hPv7gH49 .dropdown-item:hover,
.cid-r7hPv7gH49 .nav-link:hover,
.cid-r7hPv7gH49 .brand-name:hover {
  color: #00a337 !important;
}
.cid-r7hPv7gH49 .dropdown-menu {
  background-color: #0a1c44;
}
.cid-r7hPv7gH49 .dropdown-item:active {
  background-color: #0a1c44;
}
.cid-r7hPv7gH49 .menu-bottom {
  margin: auto;
  width: 100%;
  display: -webkit-flex;
  padding: 0rem 2rem;
  position: relative;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-r7hPv7gH49 .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-r7hPv7gH49 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-r7hPv7gH49 .nav-item a {
  padding: 0.5rem 0 !important;
  margin: 0 0.5rem !important;
}
.cid-r7hPv7gH49 .dropdown-item:before {
  font-family: MobiriseIcons !important;
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: scale(0, 1);
}
.cid-r7hPv7gH49 .content-text {
  margin-bottom: 0;
}
.cid-r7hPv7gH49 .navbar-nav {
  position: relative;
  min-height: 90px;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
}
@media (min-width: 992px) {
  .cid-r7hPv7gH49 .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #00a337;
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-r7hPv7gH49 .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-r7hPv7gH49 .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-r7hPv7gH49 .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-r7hPv7gH49 .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-r7hPv7gH49 .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-r7hPv7gH49 .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-r7hPv7gH49 .navbar-buttons.mbr-section-btn {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-r7hPv7gH49 .nav-dropdown .link {
  font-weight: 400;
}
.cid-r7hPv7gH49 .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-r7hPv7gH49 .content-right-side {
  text-align: center;
}
.cid-r7hPv7gH49 .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-r7hPv7gH49 .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-r7hPv7gH49 .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-r7hPv7gH49 .info-widget {
  padding-left: 2rem;
  padding-right: 3rem;
  margin: 0;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.cid-r7hPv7gH49 .menu-content-right {
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-r7hPv7gH49 .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-r7hPv7gH49 .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-r7hPv7gH49 .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-r7hPv7gH49 .widget-content .widget-title {
  font-weight: 400;
  margin-bottom: 3px;
}
.cid-r7hPv7gH49 .widget-content .widget-text {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .cid-r7hPv7gH49 .navbar .menu-content-top {
    display: -webkit-flex;
    min-height: 60px;
    height: 100%;
  }
  .cid-r7hPv7gH49 .content-right-side {
    text-align: right;
    flex-wrap: nowrap;
    display: -webkit-flex;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -webkit-align-items: center;
  }
  .cid-r7hPv7gH49 .menu-content-top {
    border-bottom: 0px solid #e0e0e0;
  }
  .cid-r7hPv7gH49 .navbar {
    display: block;
    padding: 0;
  }
  .cid-r7hPv7gH49 .navbar .menu-logo {
    margin: auto;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
  }
  .cid-r7hPv7gH49 .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: -webkit-flex;
    align-items: center;
    z-index: 101;
    min-height: 49px;
    -webkit-align-items: center;
  }
  .cid-r7hPv7gH49 .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
    -webkit-transform: scale(1, 1);
  }
  .cid-r7hPv7gH49 .navbar-toggler {
    display: none;
  }
  .cid-r7hPv7gH49 .navbar-collapse {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
  }
}
.cid-r7hPv7gH49 .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-r7hPv7gH49 .btn {
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-r7hPv7gH49 .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-r7hPv7gH49 .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-r7hPv7gH49 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-r7hPv7gH49 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-r7hPv7gH49 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-r7hPv7gH49 .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}
.cid-r7hPv7gH49 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-r7hPv7gH49 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-r7hPv7gH49 .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
}
.cid-r7hPv7gH49 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-r7hPv7gH49 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: scale(1, 1);
}
.cid-r7hPv7gH49 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-r7hPv7gH49 .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-r7hPv7gH49 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-r7hPv7gH49 .navbar.navbar-short {
  min-height: 50px;
  transition: all 0.2s;
}
.cid-r7hPv7gH49 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-r7hPv7gH49 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-r7hPv7gH49 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-r7hPv7gH49 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-r7hPv7gH49 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all 0.2s;
  margin: 1rem 0.8rem;
  align-self: start;
  -webkit-align-self: start;
}
.cid-r7hPv7gH49 button.navbar-toggler:focus {
  outline: none;
}
.cid-r7hPv7gH49 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #0a1c44;
}
.cid-r7hPv7gH49 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-r7hPv7gH49 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-r7hPv7gH49 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-r7hPv7gH49 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-r7hPv7gH49 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-r7hPv7gH49 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-r7hPv7gH49 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-r7hPv7gH49 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-r7hPv7gH49 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-r7hPv7gH49 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-r7hPv7gH49 .collapsed .btn {
  display: -webkit-flex;
}
.cid-r7hPv7gH49 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-r7hPv7gH49 .collapsed .navbar-collapse.collapsing,
.cid-r7hPv7gH49 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-r7hPv7gH49 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-r7hPv7gH49 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-r7hPv7gH49 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-r7hPv7gH49 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-r7hPv7gH49 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-r7hPv7gH49 .collapsed .navbar-collapse.show .navbar-buttons {
  display: -webkit-flex;
  justify-content: center;
  text-align: center;
  -webkit-justify-content: center;
}
.cid-r7hPv7gH49 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-r7hPv7gH49 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-r7hPv7gH49 .collapsed button.navbar-toggler {
  display: block;
}
.cid-r7hPv7gH49 .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: 0.5rem;
}
.cid-r7hPv7gH49 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-r7hPv7gH49 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: 0.5s;
  transition-property: opacity, padding, height;
}
.cid-r7hPv7gH49 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-r7hPv7gH49 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-r7hPv7gH49 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
.cid-r7hPv7gH49 .collapsed .menu-bottom {
  justify-content: center;
  -webkit-justify-content: center;
}
@media (min-width: 991px) {
  .cid-r7hPv7gH49 .dropdown-item {
    color: white !important;
    border-bottom: 0px solid #4f5b77;
  }
  .cid-r7hPv7gH49 .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #4f5b77;
  }
}
@media (max-width: 991px) {
  .cid-r7hPv7gH49 .dropdown-menu {
    margin-top: 0px;
    background-color: transparent;
    color: black !important;
  }
  .cid-r7hPv7gH49 .menu-bottom {
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
  }
  .cid-r7hPv7gH49 .navbar-collapse {
    padding-bottom: 1rem;
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-r7hPv7gH49 .navbar-collapse.collapsing,
  .cid-r7hPv7gH49 .navbar-collapse.show {
    display: block !important;
  }
  .cid-r7hPv7gH49 .navbar-collapse.collapsing .navbar-nav,
  .cid-r7hPv7gH49 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-r7hPv7gH49 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-r7hPv7gH49 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-r7hPv7gH49 .navbar-collapse.collapsing .navbar-buttons,
  .cid-r7hPv7gH49 .navbar-collapse.show .navbar-buttons {
    display: -webkit-flex;
    justify-content: center;
    text-align: center;
    -webkit-justify-content: center;
  }
  .cid-r7hPv7gH49 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-r7hPv7gH49 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-r7hPv7gH49 img {
    height: 3.8rem !important;
  }
  .cid-r7hPv7gH49 .btn {
    display: -webkit-flex;
  }
  .cid-r7hPv7gH49 button.navbar-toggler {
    display: block;
  }
  .cid-r7hPv7gH49 .navbar-brand {
    margin-left: 1rem !important;
    margin-top: 0.5rem;
  }
  .cid-r7hPv7gH49 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-r7hPv7gH49 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: 0.5s;
    transition-property: opacity, padding, height;
  }
  .cid-r7hPv7gH49 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-r7hPv7gH49 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-r7hPv7gH49 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
  .cid-r7hPv7gH49 .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-r7hPv7gH49 .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-r7hPv7gH49 .navbar-dropdown {
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}
.cid-r7hPv7gH49 .nav-link:focus {
  outline: none;
}
.cid-r7hPv7gH49 .navbar-toggler {
  position: relative;
}
.cid-r7hPv7gH49 .dropdown-item.active,
.cid-r7hPv7gH49 .dropdown-item:active {
  color: initial;
}
.cid-r7hPv7gH49 .widget-title,
.cid-r7hPv7gH49 .widget-icon {
  color: #e9e9e9;
}
.cid-r7hPv7gH49 .widget-text {
  color: #656565;
}
@media (max-width: 576px) {
  .cid-r7hPv7gH49 .menu-logo {
    display: none;
  }
  .cid-r7hPv7gH49 .navbar {
    padding: 0;
  }
  .cid-r7hPv7gH49 .menu-bottom {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-r7hPv7gH49 button.navbar-toggler {
    align-self: center;
    -webkit-align-self: center;
  }
}
.cid-r7i3Qu8Gnv {
  background-image: url("../../../assets/images/landing.jpg");
}
.cid-r7i3Qu8Gnv .mbr-section-title DIV {
  text-align: center;
  color: #ffffff;
}
.cid-r7i3Qu8Gnv .mbr-text,
.cid-r7i3Qu8Gnv .mbr-section-btn {
  text-align: center;
}
.cid-r7iMBMZ5rU {
  padding-top: 75px;
  padding-bottom: 15px;
  background-color: #f5f7fa;
}
.cid-r7iMBMZ5rU .card-wrapper {
  overflow: hidden;
  height: 100%;
  background: #ffffff;
  color: #444444;
  padding: 0;
}
.cid-r7iMBMZ5rU .ico-line {
  display: inline-block;
  width: 100%;
}
.cid-r7iMBMZ5rU .line-wrap {
  display: inline-block;
  width: 100%;
}
.cid-r7iMBMZ5rU p {
  line-height: 1.6;
}
.cid-r7iMBMZ5rU .rev,
.cid-r7iMBMZ5rU .mbr-iconfont {
  display: inline-block;
}
.cid-r7iMBMZ5rU .line {
  display: inline-block;
  width: 8%;
  height: 4px;
  background-color: #000000;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.cid-r7iMBMZ5rU .card-title {
  color: #0a1c44;
  margin: 0;
  line-height: 1.3;
  padding-bottom: 1rem;
  text-align: left;
}
.cid-r7iMBMZ5rU .card-box {
  padding: 1.5rem;
}
.cid-r7iMBMZ5rU .mbr-section-title {
  margin: 0 auto;
  color: #000000;
  text-align: center;
}
.cid-r7iMBMZ5rU .mbr-section-sub-title {
  text-align: center;
  color: #9e9e9e;
}
.cid-r7iMBMZ5rU .mbr-section-title,
.cid-r7iMBMZ5rU .line-wrap {
  text-align: center;
  color: #000000;
}
.cid-r7iMBMZ5rU .rev {
  text-align: left;
}
.cid-r7iMBMZ5rU .card-text,
.cid-r7iMBMZ5rU .mbr-section-btn,
.cid-r7iMBMZ5rU .ico-line {
  text-align: left;
  color: #9e9e9e;
}
.cid-r7iMBMZ5rU .rev i {
  color: #0a1c44;
}
.cid-r7iWys0iM3 {
  padding-top: 15px;
  padding-bottom: 75px;
  background-color: #f5f7fa;
}
.cid-r7iWys0iM3 .card-wrapper {
  overflow: hidden;
  height: 100%;
  background: #ffffff;
  color: #444444;
  padding: 0;
}
.cid-r7iWys0iM3 .ico-line {
  display: inline-block;
  width: 100%;
}
.cid-r7iWys0iM3 .line-wrap {
  display: inline-block;
  width: 100%;
}
.cid-r7iWys0iM3 p {
  line-height: 1.6;
}
.cid-r7iWys0iM3 .rev,
.cid-r7iWys0iM3 .mbr-iconfont {
  display: inline-block;
}
.cid-r7iWys0iM3 .line {
  display: inline-block;
  width: 8%;
  height: 4px;
  background-color: #000000;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.cid-r7iWys0iM3 .card-title {
  color: #000000;
  margin: 0;
  line-height: 1.3;
  padding-bottom: 1rem;
  text-align: left;
}
.cid-r7iWys0iM3 .card-box {
  padding: 1.5rem;
}
.cid-r7iWys0iM3 .mbr-section-title {
  margin: 0 auto;
  color: #000000;
  text-align: center;
}
.cid-r7iWys0iM3 .mbr-section-sub-title {
  text-align: center;
  color: #9e9e9e;
}
.cid-r7iWys0iM3 .mbr-section-title,
.cid-r7iWys0iM3 .line-wrap {
  text-align: center;
  color: #000000;
}
.cid-r7iWys0iM3 .rev {
  text-align: left;
}
.cid-r7iWys0iM3 .card-text,
.cid-r7iWys0iM3 .mbr-section-btn,
.cid-r7iWys0iM3 .ico-line {
  text-align: left;
  color: #9e9e9e;
}
.cid-r7iWys0iM3 .rev i {
  color: #0a1c44;
}
.cid-r7hPp5sSWJ {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-r7hPp5sSWJ .row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-r7hPp5sSWJ .container-fluid {
  padding: 0;
}
.cid-r7hPp5sSWJ img {
  width: 100%;
}
.cid-r7hPp5sSWJ .content {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
  padding-right: 10rem;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
@media (max-width: 1400px) {
  .cid-r7hPp5sSWJ .content {
    padding: 3rem;
  }
}
.cid-r7hPp5sSWJ .row {
  margin-right: 0;
  margin-left: 0;
}
.cid-r7hPp5sSWJ .img-col {
  padding: 0;
  margin: auto;
}
.cid-r7hPp5sSWJ .mbr-text,
.cid-r7hPp5sSWJ .mbr-section-btn {
  color: #000000;
}
.cid-r7hPp5sSWJ .mbr-section-title {
  color: #000000;
}
.cid-r7iScpyUOv {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-r7iScpyUOv .card-wrapper {
  overflow: hidden;
  height: 100%;
  color: #444444;
  padding: 0;
}
.cid-r7iScpyUOv .line-wrap {
  display: inline-block;
  width: 100%;
}
.cid-r7iScpyUOv .line {
  display: inline-block;
  width: 100px;
  height: 4px;
  background-color: #0a1c44;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.cid-r7iScpyUOv .mbr-section-btn {
  margin-top: 0.5rem;
}
.cid-r7iScpyUOv .btn {
  margin: 0!important;
  transition: all 0.3s;
  opacity: 0;
}
.cid-r7iScpyUOv .card {
  padding: 0!important;
  margin: 0;
  overflow: hidden;
}
.cid-r7iScpyUOv .card:hover .card-box {
  bottom: 0;
}
.cid-r7iScpyUOv .card:hover .btn {
  opacity: 1;
}
.cid-r7iScpyUOv .card-title {
  color: #ffffff;
  margin: 0;
  text-align: left;
}
.cid-r7iScpyUOv .card-img {
  overflow: hidden!important;
  position: relative;
  border-radius: 0px;
}
.cid-r7iScpyUOv .card-img:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  background: #232323;
  opacity: 0.3;
  z-index: 1;
  pointer-events: none;
}
.cid-r7iScpyUOv .card-box {
  position: absolute;
  padding: 1.5rem 1.5rem;
  bottom: -70px;
  transition: all 0.3s;
  width: 100%;
  left: 0;
  z-index: 2;
}
.cid-r7iScpyUOv .mbr-section-title,
.cid-r7iScpyUOv .line-wrap {
  text-align: center;
}
.cid-r7iScpyUOv .card-box > p,
.cid-r7iScpyUOv .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
@media (max-width: 576px) {
  .cid-r7iScpyUOv .card-box {
    bottom: 0;
  }
  .cid-r7iScpyUOv .btn {
    opacity: 1;
  }
}
.cid-r7iOuFflNq {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-r7iOuFflNq .listico {
  padding-right: 1rem;
  font-size: 1.1rem;
}
.cid-r7iOuFflNq .navbar-logo {
  width: 150px;
  margin-bottom: 10px;
  margin: auto;
}
.cid-r7iOuFflNq .mbr-form {
  display: -webkit-flex;
}
.cid-r7iOuFflNq .btn {
  margin: 0 !important;
  height: 55px;
}
.cid-r7iOuFflNq .btn-primary {
  border: 1px solid #00a337 !important;
}
.cid-r7iOuFflNq .btn-primary:hover {
  border: 1px solid #00a337 !important;
}
.cid-r7iOuFflNq .stripe {
  border-bottom: 1px solid #000000;
  max-width: 90%;
  position: relative;
  margin-bottom: 0.5rem;
}
.cid-r7iOuFflNq .form-control {
  background: transparent;
  padding: 0.5rem 1rem;
  min-height: 55px;
  border-radius: 0px;
  max-width: 220px;
}
.cid-r7iOuFflNq .stripe:before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  border-bottom: 1px solid #e9e9e9;
  width: 85%;
}
.cid-r7iOuFflNq .mbr-text {
  color: #444;
}
.cid-r7iOuFflNq h5 {
  margin-bottom: 0;
}
.cid-r7iOuFflNq .navbar-brand {
  margin: auto;
  width: 100%;
  text-align: center;
}
.cid-r7iOuFflNq .list-item {
  display: -webkit-flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  -webkit-align-items: center;
}
.cid-r7iOuFflNq .tips {
  height: 90px;
  width: 90px;
  border-radius: 6px;
  margin: 4px;
}
.cid-r7iOuFflNq .socicon {
  font-size: 1.3rem;
  background: #e9e9e9;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-r7iOuFflNq .social-list {
  display: -webkit-flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: flex-start;
}
.cid-r7iOuFflNq .social-list .soc-item {
  margin: 0 0.3rem;
}
.cid-r7iOuFflNq .social-list a {
  margin: 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-r7iOuFflNq .social-list a:hover {
  opacity: 0.4;
}
.cid-r7iOuFflNq .media-container-row > div {
  padding: 0px;
}
.cid-r7iOuFflNq .text2 {
  color: #000000;
  text-align: left;
}
.cid-r7iOuFflNq .group-title {
  text-align: left;
  color: #000000;
  padding-bottom: 0.2rem;
}
.cid-r7iOuFflNq .links {
  color: #656565;
  line-height: 1.6;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-r7iOuFflNq .col-sm-12 {
    margin-bottom: 2rem;
  }
  .cid-r7iOuFflNq .social-list,
  .cid-r7iOuFflNq .img-list {
    justify-content: center;
    text-align: center;
    -webkit-justify-content: center;
  }
  .cid-r7iOuFflNq h3 {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .cid-r7iOuFflNq .form-control {
    max-width: 180px;
  }
}
.cid-r7iOuFflNq .links span {
  color: #9e9e9e;
}
.cid-r7iOuFflNq .logo-sub-title {
  text-align: center;
}
.cid-r7iOuFflNq .logo-title {
  text-align: center;
}
.cid-r7iOuFflNq .logo-sub-title i {
  color: #9e9e9e;
}
.cid-r7iNbuQaTS {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-r7iNbuQaTS .links {
  text-align: center;
  color: #000000;
}
.cid-r7iNbuQaTS p {
  margin: 0;
}
