<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/assets/images/logo2-128x128.png"
	type="image/x-icon">
<title>Principal</title>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/dropdown/css/style.css">
<link rel="stylesheet" href="/assets/theme/css/style.css">
<link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css"
	type="text/css">
<link rel="stylesheet"
	href="/assets/mobiriseagain/css/mbr-additional.css" type="text/css">
</head>
<body>
	<section class="menu1 menu cid-raTI2NFMfz" id="menu1-0">

		<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
			<div class="navbar-brand">
				<div class="col-md-3">
					<a href="/"><img alt="logo" src="/assets/images/hs.png"
						height="60" width="80"></a>
				</div>
				<div class="col-md-2">
					<span></span>
					<a style="padding-left:1em" class="brand-name mbr-black text-white mbr-bold display-4" href="/" th:text="#{logo.titulo}"></a><a class="brand-name mbr-black text-white mbr-bold display-4">: High Score</a>
				</div>
			</div>
			<div class="col-md-3">
				<!-- Div para que el logo esté a la orilla-->
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="navbar-buttons mbr-section-btn">
					<a class="btn btn-md btn-white-outline display-4" href="#">
						Vista: Admin</a>
				</div>
			</div>
		</nav>
	</section>

	<section class="header1 cid-r7i3Qu8Gnv mbr-fullscreen" id="landing">

		<div class="mbr-overlay"
			style="opacity: 0.6; background-color: rgb(121, 121, 121);"></div>

		<div class="container align-center">
			<div class="row justify-content-center">
				<div class="mbr-white col-lg-8 col-md-10">
					<p style="font-size:82px" th:text="#{exito}"></p>
					<form action="/" method="get">
						<button class="btn btn-md btn-primary display-4" type="submit" th:text="#{boton.volver}"></button>
					</form>
				</div>
			</div>
		</div>

	</section>
	
	<section class="footer2 cid-r7iNbuQaTS" id="footer" style="background-color: #444444;">
		<div class="container">

			<div class="row" align="right">
				<div class="col-sm-12">
					<a th:href="@{?Lang=es}"><img th:src="@{/assets/images/chile-400.png}" width="48" height="32" /></a>
					<a th:href="@{?Lang=en}"><img th:src="@{/assets/images/usa-400.jpg}" width="48" height="32" /></a>
				</div>
			</div>
		</div>
	</section>

	
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/dropdown/js/script.min.js"></script>
	<script src="/assets/theme/js/script.js"></script>

</body>
</html>