<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1">
<link rel="shortcut icon" href="/assets/images/logo2-128x128.png"
	type="image/x-icon">
<title>Sistema de jugadors</title>
<link rel="stylesheet"
	href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
<link rel="stylesheet" href="/assets/tether/tether.min.css">
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/assets/bootstrap/css/bootstrap-grid.min.css">
<link rel="stylesheet"
	href="/assets/bootstrap/css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="/assets/dropdown/css/style.css">
<link rel="stylesheet" href="/assets/theme/css/style.css">
<link rel="stylesheet"
	href="/assets/mobiriseagain/css/mbr-additional.css" type="text/css">
<link
	href='/assets/bootstrap-datepicker/css/bootstrap-datepicker.min.css'
	rel='stylesheet' type='text/css'>
</head>
<body>
	<section class="menu1 menu cid-raTI2NFMfz" id="menu1-0">

		<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
			<div class="navbar-brand">
				<div class="col-md-3">
					<a href="/"><img alt="logo" src="/assets/images/hs.png"
						height="60" width="80"></a>
				</div>
				<div class="col-md-2">
					<span></span>
					<a style="padding-left:1em" class="brand-name mbr-black text-white mbr-bold display-4" href="/" th:text="#{logo.titulo}"></a><a class="brand-name mbr-black text-white mbr-bold display-4">: High Score</a>
				</div>
			</div>
			<div class="col-md-3">
				<!-- Div para que el logo esté a la orilla-->
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="navbar-buttons mbr-section-btn">
					<a class="btn btn-md btn-white-outline display-4" href="#">
						Vista: Admin</a>
				</div>
			</div>
		</nav>
	</section>

	<section class="form4 cid-raTI7nYObn" id="form4-1">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 col-lg-6 form-wrapper">
					<div class="form-head">
						<h2
							class="mbr-section-title form-title mbr-fonts-style align-center display-5">
							Datos del jugador</h2>
						<h3
							class="mbr-section-subtitle form-subtitle mbr-fonts-style align-center pb-2 display-4">
							Complete todos los campos</h3>
					</div>
					<div class="form1">
						<div class="mbr-section-btn align-center">
								<form action="#" th:action="@{/jugador/creado}" method="get">
									<button class="btn btn-md btn-primary display-4" type="submit">Ingresar
									con usuario existente</button>
								</form>
							</div>
						<div data-form-alert="" hidden="">Datos ingresados con
							éxito!</div>


						<form th:action="@{/jugador/anadirJugador}" th:object="${jugador}"
							method="post">
							
							<div class="form-group">
							<label for="nombreLabel">
									ID
							</label>
							<input type="text" class="form-control"  th:field="${jugador.idj}"  id="id" readonly="readonly">
						</div>	
				
							<div class="input-wrap">
								<label class="form-label-outside mbr-normal">Nombre</label> <input type="text" class="form-control"
									th:field="${jugador.nombre}" id="nombre">
							</div>
							<div class="input-wrap">
								<label class="form-label-outside mbr-normal">Apellido</label> <input type="text" class="form-control"
									th:field="${jugador.apellido}" id="descripcion">
							</div>
							<div class="input-wrap">
								<label class="form-label-outside mbr-normal">Correo</label> <input type="text" class="form-control"
									th:field="${jugador.correo}" id="correo">
							</div>
							<div class="input-wrap">
								<label class="form-label-outside mbr-normal">Ciudad</label> <select
									th:field="${jugador.ciudad}" class="form-control">
									<option th:each="ciudad: ${ciudades}" th:value="${ciudad.idc}"
										th:text="${ciudad.nombreC}"></option>
								</select>
							</div>
							<div class="input-wrap">
								<label class="form-label-outside mbr-normal">Descripción</label> <input type="text" class="form-control"
									th:field="${jugador.descripcion}" id="descripcion">
							</div>
							<div class="input-wrap">
								<label class="form-label-outside mbr-normal">GamerTag</label> <input type="text" class="form-control"
									th:field="${jugador.gamertag}" id="gamertag">
							</div>
							<div class="input-wrap">
								<div th:object="${inscripcion}" method="post">
									<label class="form-label-outside mbr-normal">Torneo al que deseas inscribirte</label> <select
									 th:field="${inscripcion.torneo}" class="form-control">
									<option th:each="torneo: ${torneos}" th:value="${torneo.idt}"
										th:text="${torneo.nombreT}"></option>
									</select>
								</div>
							</div>
							<span class="input-group-btn"><button
									class="btn btn-success" type="submit">Actualizar</button></span>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="footer2 cid-rb9SpE6JLx" id="footer2-5">
		<div class="container">
			<div class="row justify-content-center mbr-white">
				<div class="col-12">
					<!--
                <p class="mbr-text mb-0 mbr-fonts-style align-center display-7">
                    © Copyright 2018 Bootstrap Login Page Template - All Rights Reserved
                </p>
            	-->
				</div>
			</div>
		</div>
	</section>


	<script src="/assets/web/assets/jquery/jquery.min.js"></script>
	<script src="/assets/popper/popper.min.js"></script>
	<script src="/assets/tether/tether.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/smoothscroll/smooth-scroll.js"></script>
	<script src="/assets/dropdown/js/script.min.js"></script>
	<script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
	<script src="/assets/theme/js/script.js"></script>
	<script src="/assets/formoid/formoid.min.js"></script>
	<script
		src='/assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
		type='text/javascript'></script>


</body>
</html>