<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/assets/images/logo2-128x128.png"
	type="image/x-icon">
<title>Brackets</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.7.12/go.js"></script>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/dropdown/css/style.css">
<link rel="stylesheet" href="/assets/theme/css/style.css">
<link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css"
	type="text/css">
<link rel="stylesheet"
	href="/assets/mobiriseagain/css/mbr-additional.css" type="text/css">
</head>
<body>
<section class="menu1 menu cid-raTI2NFMfz" id="menu1-0">

		<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
			<div class="navbar-brand">
				<div class="col-md-3">
					<a href="/"><img alt="logo" src="/assets/images/hs.png"
						height="60" width="80"></a>
				</div>
				<div class="col-md-2">
					<span></span>
					<a style="padding-left:1em" class="brand-name mbr-black text-white mbr-bold display-4" href="/" th:text="#{logo.titulo}"></a><a class="brand-name mbr-black text-white mbr-bold display-4">: High Score</a>
				</div>
			</div>
			<div class="col-md-3">
				<!-- Div para que el logo esté a la orilla-->
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="navbar-buttons mbr-section-btn">
					<a class="btn btn-md btn-white-outline display-4" href="#">
						Vista: Admin</a>
				</div>
			</div>
		</nav>
	</section>

	<div id="sample">
  <div id="myDiagramDiv" align="center" style="border: solid 1px black; background: #4D4D4D; width:100%; height:70vh"></div>
</div>
<div>
  <input type="number" th:value=${totalInscritos} id="players" min="3" max="30"><a > Jugadores</a>
</div>

	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/dropdown/js/script.min.js"></script>
	<script src="/assets/theme/js/script.js"></script>
	<script src="/assets/go/tournament.js"></script>
<script src="/assets/go/binary.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	var playerList = /*[[${gamertags}]]*/ 'Default';

  function makeModel(players) {
    var model = new go.TreeModel(players.nodeDataArray);
    checkWinner(model)
    myDiagram.model = model;
  }

  // Used to change number of players
  function numberOfPlayers() {
    let total = []; //Names Array
    for(i=0;i< parseInt(players.value); i++) {
      total.push(playerList[i]);
    }
    return total;
  }
  //Initialize the process
  createArrayWithEmptyAndNodes(numberOfPlayers());
  /*]]>*/
</script>
</body>
</html>