<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/assets/images/logo2-128x128.png"
	type="image/x-icon">
<title>Principal</title>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/dropdown/css/style.css">
<link rel="stylesheet" href="/assets/theme/css/style.css">
<link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css"
	type="text/css">
<link rel="stylesheet"
	href="/assets/mobiriseagain/css/mbr-additional.css" type="text/css">
</head>
<body style="background-color: black;">
	<section class="menu1 menu cid-raTI2NFMfz" id="menu1-0">

<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
			<div class="navbar-brand">
				<div class="col-md-3">
					<a href="/"><img alt="logo" src="/assets/images/hs.png"
						height="60" width="80"></a>
				</div>
				<div class="col-md-2">
					<span></span>
					<a style="padding-left:1em" class="brand-name mbr-black text-white mbr-bold display-4" href="/" th:text="#{logo.titulo}"></a><a class="brand-name mbr-black text-white mbr-bold display-4">: High Score</a>
				</div>
			</div>
			<div class="col-md-3">
				<!-- Div para que el logo esté a la orilla-->
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="navbar-buttons mbr-section-btn">
					<a class="btn btn-md btn-white-outline display-4" href="#">
						Vista: Admin</a>
				</div>
			</div>
		</nav>
		</section>

	<section class="header1 cid-r7i3Qu8Gnv mbr-fullscreen" id="landing">

		<div class="mbr-overlay"
			style="opacity: 0.6; background-color: rgb(121, 121, 121);"></div>

		<div class="container align-center">
			<div class="row justify-content-center">
				<div class="mbr-white col-lg-8 col-md-10">
					<p style="font-size:82px" th:text="#{logo.titulo}"></p>
					<p style="font-size:28px">High Score UBB</p>
				</div>
			</div>
		</div>

	</section>

	<section class="team2 cid-r7iScpyUOv" id="registro" style="background-color: #444444">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-md-12"></div>
			</div>

			<div class="row row-content justify-content-center">

				

				<div class="card p-4 col-12 col-md-6 col-lg-3">
					<div class="card-wrapper">
						<div class="card-img">
							<img src="assets/images/crearTorneo.jpg" title="" alt="">
						</div>
						<div class="card-box">
							<h4 class="card-title pb-2 mbr-fonts-style mbr-bold display-5" th:text="#{torneo.index.crear}"></h4>
							<p class="mbr-text mbr-fonts-style display-4" th:text="#{torneo.index.descripcion}"></p>
							<div class="mbr-section-btn align-left">
								<form action="#" th:action="@{/torneo/crear}" method="get">
									<button class="btn btn-md btn-primary display-4" type="submit" th:text="#{torneo.index.boton}"></button>
								</form>
							</div>
						</div>
					</div>
				</div>



				<div class="card p-4 col-12 col-md-6 col-lg-3">
					<div class="card-wrapper">
						<div class="card-img">
							<img src="assets/images/registrarJugador.jpg" title="" alt="">
						</div>
						<div class="card-box">
							<h4 class="card-title pb-2 mbr-fonts-style mbr-bold display-5" th:text="#{inscripcion.index.titulo}"></h4>
							<p class="mbr-text mbr-fonts-style display-4" th:text="#{inscripcion.index.descripcion}">
							</p>
							<div class="mbr-section-btn align-left">
								<form action="#" th:action="@{/jugador/crear}" method="get">
									<button class="btn btn-md btn-primary display-4" type="submit" th:text="#{inscripcion.index.boton}"></button>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="card p-4 col-12 col-md-6 col-lg-3">
					<div class="card-wrapper">
						<div class="card-img">
							<img src="assets/images/listaTorneos.jpg" title="" alt="">
						</div>
						<div class="card-box">
							<h4 class="card-title pb-2 mbr-fonts-style mbr-bold display-5" th:text="#{torneo.index.ver}"></h4>
							<p class="mbr-text mbr-fonts-style display-4" th:text="#{torneo.index.ver.descripcion}">
							</p>
							<div class="mbr-section-btn align-left">
								<form action="#" th:action="@{/torneo/listar}" method="get">
									<button class="btn btn-md btn-primary display-4" type="submit" th:text="#{torneo.index.ver.boton}"></button>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="footer2 cid-r7iNbuQaTS" id="footer" style="background-color: #444444;">
		<div class="container">

			<div class="row" align="right">
				<div class="col-sm-12">
					<a th:href="@{?Lang=es}"><img th:src="@{/assets/images/chile-400.png}" width="48" height="32" /></a>
					<a th:href="@{?Lang=en}"><img th:src="@{/assets/images/usa-400.jpg}" width="48" height="32" /></a>
				</div>
			</div>
		</div>
	</section>

	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/dropdown/js/script.min.js"></script>
	<script src="/assets/theme/js/script.js"></script>

</body>
</html>