<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ingresado con exito</title>
    <meta charset="UTF-8">
</head>
<body>
	<div class="row">
		<div class="col-md-2">
			<img alt="logo" src="/hs.png" height="60" width="70">
		</div>
		<div class="col-md-2">
			<h3>
				Proyecto: Sistema de Torneos
			</h3>
		</div>
	</div>

<h3>Acaba de ingresar:</h3>

<p th:text="'ID: ' + ${partida.idp}"></p>
<p th:text="'Fecha: ' + ${partida.fecha}"></p>
<p th:text="'Ganador: ' + ${partida.GTGanador}"></p>
<p th:text="'Perdedor: ' + ${partida.GTPerdedor}"></p>
<p>Ronda asociada: Por ver</p>
<a href="/">Volver al inicio</a>

</body>
</html>