<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
	<title>Sistema de torneos</title>
</head>
<body>
<section class="menu cid-r7hPv7gH49" once="menu" id="menu">

    <nav class="navbar navbar-dropdown align-items-center navbar-toggleable-sm">
        
        <div class="menu-bottom">
            <div class="menu-logo">
                <div class="navbar-brand">
                    <div class="col-md-3">
						<a href="/"><img alt="logo" src="/assets/images/hs.png" height="60" width="70"></a>
					</div>
					<div class="col-md-2">
						<a href="/" class="brand-name mbr-black text-black mbr-bold display-4"><h6>Sistema de Torneos: High Score</h6></a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
            	<!-- Div para que el logo esté a la orilla-->
            </div>


			<!--	Iniciar sesion, para mas adelante
			<div class="navbar-buttons mbr-section-btn"><a class="btn btn-md btn-black-outline display-4" href="/"> Iniciar Sesión</a></div>
			 -->

        </div>
    </nav>
</section>
	<div class="row">
		<div class="col-md-8">
			<form th:action="@{/jugador/anadirJugador}" th:object="${jugador}" method="post">
				<div class="form-group">
					<label for="nombreLabel">
							Nombre
					</label>
					<input type="text" class="form-control"  th:field="${jugador.nombre}"  id="nombre">
				</div>
					<div class="form-group">	 
					<label for="apellidoLabel">
						Apellido
					</label>
					<input type="text" class="form-control" th:field="${jugador.apellido}"  id="apellido">
				</div>

				<div class="form-group">
					<label for="correoLabel">
						Correo
					</label>
					<input type="email" class="form-control" th:field="${jugador.correo}"  id="correo">
				</div>

				<div class="form-group">	 
					<label for="ciudadLabel">
						Ciudad
					</label>
					<select th:field="${jugador.ciudad}">
    					<option th:each="ciudad: ${ciudades}" th:value="${ciudad.idc}" th:text="${ciudad.nombreC}">
					    </option>
					</select>
				</div>

				<div class="form-group">	 
					<label for="descripcionLabel">
						Descripcion
					</label>
					<input type="text" class="form-control" th:field="${jugador.descripcion}"  id="descripcion">
				</div>

				<div class="form-group">	 
					<label for="gtLabel">
						GamerTag
					</label>
					<input type="text" class="form-control" th:field="${jugador.gamertag}"  id="gamertag">
				</div>

				<!-- Todavía no lo implementamos
				<div class="form-group">	 
					<label for="personajesLabel">
						Personajes
					</label>
					<input type="text">
				</div>
				-->
				<div class="col-md-12">
					<button class="btn btn-success" type="submit">Enviar</button>
				</div>
			</form>
		</div>
		</div>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
</body>
</html>