<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
	<title>Sistema de torneos</title>
</head>
<body>
<div class="row">
		<div class="col-md-2">
			<img alt="logo" src="/hs.png" height="60" width="70">
		</div>
		<div class="col-md-2">
			<h3>
				Proyecto: Sistema de Torneos
			</h3>
		</div>
	</div>
		<div class="col-md-8">
			<form th:action="@{/torneo/anadirTorneo}" th:object="${torneo}" method="post">
				<div class="form-group">
					<label for="idLabel">
							ID
					</label>
					<input type="text" class="form-control"  th:field="${torneo.idt}"  id="id" readonly="readonly">
				</div>	
				
				<div class="form-group">
					<label for="nombreLabel">
							Nombre del torneo
					</label>
					<input type="text" class="form-control"  th:field="${torneo.nombreT}"  id="nombre">
				</div>
				
				<div class="form-group">
					<label for="descripcionLabel">
							Descripción
					</label>
					<input type="text" class="form-control"  th:field="${torneo.descripcion}"  id="descripcion">
				</div>
				
				<div class="form-group">
					<label for="ciudadLabel">
							Ciudad
					</label>
					<select th:field="${torneo.ciudad}">
    					<option th:each="ciudad: ${ciudades}" th:value="${ciudad.idc}" th:text="${ciudad.nombreC}" th:selected="${torneo.ciudad == ciudad.idc}">>
					    </option>
					</select>
				</div>
				
				<div class="form-group">
					<label for="inicioLabel">
							Fecha de Inicio:
					</label>
					<input type="date" id="fechaInicio" min="2019-01-01" th:field="${torneo.fechaInicio}">
				</div>
				
				<div class="form-group">
					<label for="terminoLabel">
							Fecha de Termino:
					</label>
					<input type="date" id="fechaTermino" min="2019-01-01" th:field="${torneo.fechaTermino}">
				</div>
				
				<div class="col-md-12">
					<button class="btn btn-warning" type="submit">Actualizar</button>
				</div>
			</form>
		</div>
</body>
</html>