<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
	<title>Sistema de torneos</title>
</head>
<body>
<div class="row">
		<div class="col-md-2">
			<img alt="logo" src="/hs.png" height="60" width="70">
		</div>
		<div class="col-md-2">
			<h3>
				Proyecto: Sistema de Torneos
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<form th:action="@{/jugador/anadirJugador}" th:object="${jugador}" method="post">
						
				<div class="form-group">
					<label for="nombreLabel">
							ID
					</label>
					<input type="text" class="form-control"  th:field="${jugador.idj}"  id="id" readonly="readonly">
				</div>	
				<div class="form-group">
					<label for="nombreLabel">
							Nombre
					</label>
					<input type="text" class="form-control"  th:field="${jugador.nombre}"  id="nombre">
				</div>
					<div class="form-group">	 
					<label for="apellidoLabel">
						Apellido
					</label>
					<input type="text" class="form-control" th:field="${jugador.apellido}"  id="apellido">
				</div>

				<div class="form-group">
					<label for="correoLabel">
						Correo
					</label>
					<input type="email" class="form-control" th:field="${jugador.correo}"  id="correo">
				</div>

				<div class="form-group">	 
					<label for="ciudadLabel">
						Ciudad
					</label>
					<select th:field="${jugador.ciudad}">
    					<option th:each="ciudad: ${ciudades}" th:value="${ciudad.idc}" th:text="${ciudad.nombreC}" th:selected="${jugador.ciudad == ciudad.idc}">>
					    </option>
					</select>
				</div>

				<div class="form-group">	 
					<label for="descripcionLabel">
						Descripcion
					</label>
					<input type="text" class="form-control" th:field="${jugador.descripcion}"  id="descripcion">
				</div>

				<div class="form-group">	 
					<label for="gtLabel">
						GamerTag
					</label>
					<input type="text" class="form-control" th:field="${jugador.gamertag}"  id="gamertag">
				</div>

				<!-- Todavía no lo implementamos
				<div class="form-group">	 
					<label for="personajesLabel">
						Personajes
					</label>
					<input type="text">
				</div>
				-->
				<div class="col-md-12">
					<button class="btn btn-warning" type="submit">Actualizar</button>
				</div>
			</form>
		</div>
		</div>
</body>
</html>