<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet" />
<title>Torneos</title>
</head>
<body>
<div class="row">
		<div class="col-md-2">
			<img alt="logo" src="/hs.png" height="60" width="70">
		</div>
		<div class="col-md-2">
			<h3>
				Proyecto: Sistema de Torneos
			</h3>
		</div>
	</div>
	<h2 class="page-header">Lista de rondas</h2>
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Tipo</th>
					<th>Torneo (Por ver)</th>
					<th>Actualizar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ronda: ${rondas}">
					<td th:text="${ronda.idr}"></td>
					<td th:text="${ronda.tipoRonda}"></td>
					<td>Por ver</td>
					<td>
						<form th:action="@{/ronda/update/}+${ronda.idr}" th:object="${ronda}"
							method="get">
							<button class="btn btn-warning" type="submit">Actualizar</button>
						</form>
					</td>
					<td><a class="btn btn-danger" th:href="@{/ronda/delete/}+${ronda.idr}" th:text="eliminar"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>