<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet" />
<title>Jugadores</title>
</head>
<body>
<div class="row">
		<div class="col-md-2">
			<img alt="logo" src="/hs.png" height="60" width="70">
		</div>
		<div class="col-md-2">
			<h3>
				Proyecto: Sistema de Torneos
			</h3>
		</div>
	</div>
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Correo</th>
					<th>Ciudad</th>
					<th>Descripcion</th>
					<th>GamerTag</th>
					<th>Actualizar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="jugador: ${jugadores}">
					<td th:text="${jugador.nombre}"></td>
					<td th:text="${jugador.apellido}"></td>
					<td th:text="${jugador.correo}"></td>
					<td th:text="${jugador.ciudad}"></td>
					<td th:text="${jugador.descripcion}"></td>
					<td th:text="${jugador.gamertag}"></td>
					<td>
						<form th:action="@{/jugador/update/}+${jugador.idj}" th:object="${jugador}"
							method="get">
							<button class="btn btn-warning" type="submit">Actualizar</button>
						</form>
					</td>
					<td><a class="btn btn-danger" th:href="@{/jugador/delete/}+${jugador.idj}" th:text="eliminar"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>