<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1">
<link rel="shortcut icon" href="/assets/images/logo2-128x128.png"
	type="image/x-icon">
<link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet" />
<link rel="stylesheet"
	href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
<link rel="stylesheet" href="/assets/tether/tether.min.css">
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/assets/bootstrap/css/bootstrap-grid.min.css">
<link rel="stylesheet"
	href="/assets/bootstrap/css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="/assets/dropdown/css/style.css">
<link rel="stylesheet" href="/assets/theme/css/style.css">
<link rel="stylesheet"
	href="/assets/mobiriseagain/css/mbr-additional.css" type="text/css">
<title>Torneos</title>
</head>
<body>
	<section class="menu1 menu cid-raTI2NFMfz" id="menu1-0">

		<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
			<div class="navbar-brand">
				<div class="col-md-3">
					<a href="/"><img alt="logo" src="/assets/images/hs.png"
						height="60" width="70"></a>
				</div>
				<div class="col-md-2">
					<a href="/"
						class="brand-name mbr-black text-white mbr-bold display-4">Sistema
						de Torneos: High Score</a>
				</div>
			</div>
			<div class="col-md-3">
				<!-- Div para que el logo esté a la orilla-->
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span> <span></span> <span></span> <span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="navbar-buttons mbr-section-btn">
					<a class="btn btn-md btn-white-outline display-4" href="/">
						Iniciar Sesión</a>
				</div>
			</div>
		</nav>
	</section>

	<section class="header3 cid-qyoZgHBpNG" id="header3-4"
		data-rv-view="1103">
		<div class="container">
			<h2 class="page-header">Lista de torneos</h2>
			<div class="container">
				<table class="table">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Descripcion</th>
							<th>Lugar</th>
							<th>Fecha Inicio</th>
							<th>Fecha Termino</th>
							<th>Actualizar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="torneo: ${torneos}">
							<td th:text="${torneo.nombreT}"></td>
							<td th:text="${torneo.descripcion}"></td>
							<td th:text="${ciudades[torneo.ciudad-1].nombreC}"></td>
							<td th:text="${torneo.fechaInicio}"></td>
							<td th:text="${torneo.fechaTermino}"></td>
							<td>
								<form th:action="@{/torneo/update/}+${torneo.idt}"
									th:object="${torneo}" method="get">
									<button class="btn btn-warning" type="submit"
										style="width: 100%">Actualizar</button>
								</form>
							</td>
							<td><a class="btn btn-danger"
								th:href="@{/torneo/delete/}+${torneo.idt}" th:text="eliminar"
								style="width: 100%"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>
</html>