<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ingresado con exito</title>
    <meta charset="UTF-8">
</head>
<body>
<div class="row">
		<div class="col-md-2">
			<img alt="logo" src="/hs.png" height="60" width="70">
		</div>
		<div class="col-md-2">
			<h3>
				Proyecto: Sistema de Torneos
			</h3>
		</div>
	</div>

<h3>Acaba de ingresar:</h3>

<p th:text="'Nombre: ' + ${torneo.nombreT}"></p>
<p th:text="'Ciudad: ' + ${ciudades[torneo.ciudad-1].nombreC}"></p>
<a href="/">Volver al inicio</a>

</body>
</html>